[submodule "home/.janus/vim-jade"]
	path = home/.janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "home/.janus/vim-jst"]
	path = home/.janus/vim-jst
	url = https://github.com/briancollins/vim-jst
[submodule "home/.janus/vim-less"]
	path = home/.janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.janus/vim-stylus"]
	path = home/.janus/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "home/.janus/vim-cocoa"]
	path = home/.janus/vim-cocoa
	url = https://github.com/msanders/cocoa.vim
